{{ define "head" }}
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Summary }}">
{{ end }}

{{ define "main" }}
  {{ $paginator := .Paginate (where .Pages "Section" "posts") }}
  {{ template "_internal/pagination.html" . }}
  {{ range first 3 $paginator.Pages }}
    {{ range .Pages }}
    <article>
      <h3>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h3>
      <!-- <div>
        {{ .Content }}
      </div> -->
      <footer>
        <time datetime="{{ .Date.Format "2006-01-02 03:04:05" }}"
          pubdate>{{ .Date.Format "2006/01/02" }}</time>
      </footer>
    </article>
    {{ end }}
  {{ end }}
{{ end  }}

