img, video, audio {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.p-2 {
  padding: .5rem;
}

.tag-list {
  display: inline-flex;
  list-style-type: none;
}
.tag-list li {
  margin-right: .5rem;
}
